.autores{
    margin: 10vh auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    color: #eee;
    font-size: 20px;
    box-shadow: 0px 0px 15px #000000a1;
    padding: 30px;
    background-color: #222232;
}

.autorItem{
    display: flex;
    flex-direction: column;
    border: 0;
    border-bottom: 1px solid #bb5689;
    padding: 20px 0px;
    
}

.autorItem p{
    font-size: 16px;
    text-align: justify;
}

.autorItem button, .autorItem a{
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 20px;
    text-align: center;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}
.autorEditar{
    background-color: rgb(187, 86, 137);
    border-radius: 20px;
    margin: 5px;
    padding: 10px 30px;
    transition: 0.3s;
    color: #eee;
}

.autorEditar:hover{
    color: var(--color-pink);
    background-color: var(--color-white);
    transition: 0.3s;
}

.autorEditar:active{
    background-color: var(--color-pink);
    color: var(--color-white);
    transition: 0.3s;
}

.autorExcluir{
    background: transparent;
    color: #eee;
}

.autorExcluir:hover{
    color: rgb(204, 32, 60);
}

.autorExcluir:active{
    color: #eee;
}


.loginForm{
    margin: 10vh auto;
    width: 35%;
    display: flex;
    flex-direction: column;
    color: #eee;
    font-size: 20px;
    box-shadow: 0px 0px 15px #000000a1;
    padding: 30px;
    background-color: #222232;
}

.loginForm h1{
    text-align: center;
}

.cadBtn{
    margin: auto;
    text-decoration: none;
    font-size: 24px;
    color: #eee;
    background-color: #bb5689;
    padding: 10px 25px;
    border-radius: 30px;
    font-weight: bold;
}