.twitter{
    fill-rule:evenodd;
    clip-rule:evenodd;
    stroke-linejoin:round;
    stroke-miterlimit:2;
    fill: #eee;
}
/* width="100%" xml:space="preserve" height="100%" 
    xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" 
    xmlns:xlink="http://www.w3.org/1999/xlink" */